write-kubeconfig-mode: "0644"
disable:
  - rke2-canal
  - rke2-ingress-nginx
cni: none
node-ip: {{ hostvars[inventory_hostname]['node_ip'] }}
node-name: {{ inventory_hostname }}
tls-san:
  - 10.14.21.253        # mnode のIP（bastionからの到達先）
  - mnode
  - ip-163-220-178-192.compute.mdx1.jp
