# Managed by Ansible
driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync
keys /etc/chrony/chrony.keys

{% for s in time_servers %}
pool {{ s }} iburst
{% endfor %}

# Access control (adjust as needed)
allow 0.0.0.0/0
logdir /var/log/chrony
