apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-config
  namespace: kube-system
  labels:
    k8s-app: cilium
data:
  enable-host-port: "{{ enableHostPort | ternary('true', 'false') }}"
  enable-host-services: "{{ hostServices.enabled | ternary('true', 'false') }}"
  enable-node-port: "{{ enableNodePort | ternary('true', 'false') }}"
  routing-mode: "{{ routingMode }}"
  kube-proxy-replacement: "{{ kubeProxyReplacement | ternary('true', 'false') }}"
  enable-ipv6: "{{ enableIPv6 | ternary('true', 'false') }}"

